<div class="row">
  <div class="col-md-4">
    <h5><a href="/about">About </a></h5>
  </div>
  <div class="col-md-4">
    <h5><a href="/contact">Contact </a></h5>
  </div>
  <div class="col-md-4">
    <h5><a href="/terms">Terms of use </a></h5>
  </div>
</div>

<div class="row">
  <footer>
    <p>&copy; 2017 essecpack</p>
  </footer>
</div>

      