
<div class="btn-group m-b" role="group" aria-label="...">
  <a href="/review/course"><button type="button" class="btn btn-default">Course</button></a>
  <a href="/review/prof"><button type="button" class="btn btn-default">Professor</button></a>
  <a href="/review/track"><button type="button" class="btn btn-default">Chair/Track</button></a>
</div>

<form class="well form-horizontal" action="/review/course" method="post">

<div class="form-group"> 
  <label class="col-md-4 control-label">Course Title </label>
    <div class="col-md-4 selectContainer">
      <div class="input-group">
        <span class="input-group-addon"></span>
        <select name="course" class="form-control selectpicker" >
          <option value=" " >Please select your course </option>
          {{# each courses}}
            <option>{{this.title}} </option>
          {{/each}}
        </select>
      </div>
    </div>
</div>

<div class="form-group"> 
  <label class="col-md-4 control-label">Note on course's content </label>
    <div class="col-md-4 selectContainer">
      <div class="input-group">
        <span class="input-group-addon"></span>
        <input  name="note" class="form-control"  type="number" placeholder="Please give a note from 1 to 10">
      </div>
    </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label">Comment on course's content </label>
  <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
      <span class="input-group-addon"></span>
      <textarea class="form-control" name="comment" placeholder="Share with your ESSEC fellows what you think of this course"></textarea>
    </div>
  </div>
</div>

<!--need to allow chooose several jobs-->
<div class="form-group"> 
  <label class="col-md-4 control-label">Course Utility </label>
    <div class="col-md-4">
      <p>You think this course is necessary for futur</p>
      <input type="checkbox" aria-label="...">
      <a href="">create a list of jobs</a>
    </div>
</div>

<div class="text-center">
  <button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>