<div class="btn-group" role="group" aria-label="...">
  <a href="/review/course"><button type="button" class="btn btn-default">Course</button></a>
  <a href="/review/prof"><button type="button" class="btn btn-default">Professor</button></a>
  <a href="/review/track"><button type="button" class="btn btn-default">Chair/Track</button></a>
</div>


<form class="form-horizontal" role="form">

<div class="form-group"> 
  <label class="col-md-4 control-label">Chair/Track </label>
    <div class="col-md-4 selectContainer">
      <div class="input-group">
        <span class="input-group-addon"></span>
        <select name="track" class="form-control selectpicker" >
          <option value=" " >Please select your chair/track</option>
          <option>From database</option>
        </select>
      </div>
    </div>
</div>

<div class="form-group"> 
  <label class="col-md-4 control-label">Difficulty to enter this chair/track </label>
    <div class="col-md-4 selectContainer">
      <div class="input-group">
        <span class="input-group-addon"></span>
        <input  name="difficulty-e" class="form-control"  type="number" placeholder="Please evaluate from 1 to 10 ">
      </div>
    </div>
</div>

<div class="form-group"> 
  <label class="col-md-4 control-label">Difficulty of this chair/track's content </label>
    <div class="col-md-4 selectContainer">
      <div class="input-group">
        <span class="input-group-addon"></span>
        <input  name="difficulty-c" class="form-control"  type="number" placeholder="Please evaluate from 1 to 10 ">
      </div>
    </div>
</div>

<div class="form-group"> 
  <label class="col-md-4 control-label">Note on chair/track's content </label>
    <div class="col-md-4 selectContainer">
      <div class="input-group">
        <span class="input-group-addon"></span>
        <input  name="note-c" class="form-control"  type="number" placeholder="Please give a note from 1 to 10">
      </div>
    </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label">Comment on course's content </label>
  <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
      <span class="input-group-addon"></span>
      <textarea class="form-control" name="comment-c" placeholder="Share with your ESSEC fellows what you think of this course"></textarea>
    </div>
  </div>
</div>

<div class="form-group"> 
  <label class="col-md-4 control-label">Chair/Track Utility </label>
    <div class="col-md-4 selectContainer">
      <div class="input-group">
        <span class="input-group-addon"></span>
        <select name="track-utility-1" class="form-control selectpicker" >
          <option value=" " >You think this chair/track is necessary for futur </option>
          <option>Create a job list</option>
        </select>
      </div>
      <div class="input-group">
        <span class="input-group-addon"></span>
        <select name="track-utility-0" class="form-control selectpicker" >
          <option value=" " >You think this chair/track can be useful for futur </option>
          <option>Create a job list</option>
        </select>
      </div>
    </div>
</div>

<button type="submit" class="btn btn-primary">Sign Up</button>

</form>