
<div class="container">
  <div class="jumbotron">
    <h1 class="text-center lead m-b-0">About Us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum laudantium, ipsum, vero odio aspernatur molestias earum, blanditiis ducimus qui illum quos culpa nemo ipsam doloribus? Alias reprehenderit repellat cum sequi.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, voluptatem dignissimos, eaque, deserunt minima omnis ullam at pariatur vitae dolor soluta voluptatum illum. Quibusdam, adipisci nisi cumque. Illo praesentium, inventore.</p>
  </div>
</div>