</div>
<!-- User guide -->
<div class="container">
  <div class="jumbotron">
    <h1 class="text-center lead m-b-0">User Guide</h1>
    <p>This is a website dedicated to ESSEC students. We aim to help you design your cursus at ESSEC according to your personal professional projets.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, aut, nisi! Tempora, earum, optio. In et, iste iure impedit qui esse quaerat, ut cupiditate, quia nam dolorem modi sint? Recusandae.</p>
  </div>
</div>

<!-- Search part -->

<div class="container">

  <form action="/search" method="get">
    <div class="input-group col-md-6 col-md-offset-3 m-b">
      <input type="text" class="form-control" name="key" placeholder="enter a course title, professor name, skill or job title, e.g. data analyst">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Search</button>
      </span>          
    </div>
  </form>

  <div class="col-md-6 col-md-offset-3">
    <div id="accordion" class="panel-group">
    <h4 class="panel-title text-center m-b"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><small>Advanced Search?</small></a></h4>
        <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Course Title">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Professor Name">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Key Words">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <select class="form-control">
                    <option>Language</option>
                    <option value="french">French</option>
                    <option value="english">English</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Course Notes">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Bid points">
                </div>
              </div>
            </div>
            <div class="row">
              <p class="text-center" ">
                <button class="btn btn-primary" type="button">Advanced Search</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body shadow">
          <h2 class="lead m-t-0">Best utility-point courses</h2>
          <div class="list-group">
            {{# each courses}}
              <a href="/element/course" class="list-group-item">{{this.title}}</a>
            {{/each}}
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body shadow">
          <h2 class="lead m-t-0">Best noted courses</h2>
          <div class="list-group">
            {{# each courses}}
              <a href="#" class="list-group-item">{{this.title}}</a>
            {{/each}}
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body shadow">
          <h2 class="lead m-t-0">Most expensive courses</h2>
          <div class="list-group">
            {{# each courses}}
              <a href="#" class="list-group-item">{{this.title}}</a>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


        
        