<!-- User guide -->
<div class="container">
  <h1>User Guide</h1>
  <p>This is a website dedicated to ESSEC students. We aim to help you design your cursus at ESSEC according to your personal professional projets.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, aut, nisi! Tempora, earum, optio. In et, iste iure impedit qui esse quaerat, ut cupiditate, quia nam dolorem modi sint? Recusandae.</p>
</div>

<!-- Main part -->

<div class="container">

    <div class="input-group">
        <input type="text" class="form-control" placeholder="enter a course title, professor name, skill or job title, e.g. data analyst">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Search</button>
        </span>          
    </div>

    <div class="input-group">
        <input type="text" placeholder="Course Title">
        <input type="text" placeholder="Professor Name">
        <input type="text" placeholder="Key Words">
        <input type="text" placeholder="Course Language">
        <input type="text" placeholder="Course Notes">
        <input type="text" placeholder="Bid points (median)">
    </div>  

  <button class="btn btn-default" type="button">Advanced Search</button>

  <div class="row">

    <div class="col-md-4">
      <h2>Best utility-point courses</h2>
      <div class="list-group">
        {{# each courses}}
          <a href="#" class="list-group-item">{{this.title}}</a>
        {{/each}}
      </div>
    </div>

    <div class="col-md-4">
      <h2>Best noted courses</h2>
      <div class="list-group">
        {{# each courses}}
          <a href="#" class="list-group-item">{{this.title}}</a>
        {{/each}}
      </div>
    </div>

    <div class="col-md-4">
      <h2>Most expensive courses</h2>
      <div class="list-group">
        {{# each courses}}
          <a href="#" class="list-group-item">{{this.title}}</a>
        {{/each}}
      </div>
    </div>

  </div>
</div>
        
        