<h1 class="text-center">My Profile</h1>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Account</h3>
  </div>
  <div class="panel-body">
  	<button type="button" class="btn btn-default btn-sm" style="float:right;">Edit</button> 
    <ul>
    	<li>User name: {{user.name}}</li>
    	<li>Email: {{user.email}}</li>
    	<li>Enrollment year: {{user.year}}</li>
    </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Favorites</h3>
  </div>
  <div class="panel-body">
    <ul>
    	<li>List one's favorites</li>
    </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Reviews</h3>
  </div>
  <div class="panel-body">
    <ul>
    	<li>List one's reviews</li>
    </ul>
  </div>
</div>