<div class="row">
	<div class="col-md-9 col-md-offset-4" >
		<h1 class="m-b">Sign In</h1>
		{{#if hasErrors}}
			<div class="alert alert-danger">
				{{#each messages}}
					<p>{{this}}</p>
				{{/each}}
			</div>
		{{/if}}
		<form action="/user/signin" method="post">
			<div class="row m-t">
				<div class="col-md-6" >
					<div class="form-group">
						<label for="email">E-mail</label>
						<input type="text" id="email" name= "email" class="form-control">
					</div>
				</div>
			</div>
			<div class="row m-b">
				<div class="col-md-6" >
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" id="password" name= "password" class="form-control">
					</div>
					<p style="float: right;"><a href="/user/signup">Don't have account?</a></p>
				</div>
			</div>

			<input type="hidden" name="_csrf" value= "{{csrfToken}}">

			<div class="row m-t">
				<div class="col-md-6">
					<button type="submit" class="btn btn-primary">Sign In</button>
				</div>
			</div>
		</form>
	</div>
</div>

