
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Course List</h3>
  </div>
  <div class="panel-body">
  	<ul>
        {{# each courses}}
          <a href="/element/course" class="list-group-item">{{this.title}}</a>
        {{/each}}
    </ul>
  </div>
</div>