
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Professor List</h3>
  </div>
  <div class="panel-body">
    <ul>
    	<li>List of professors </li>
    </ul>
  </div>
</div>