<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Professor List</h3>
  </div>
  <div class="panel-body">
  	<ul>
        {{# each professors}}
          <a href="/element/prof" class="list-group-item">{{this.name}}</a>
        {{/each}}
    </ul>
  </div>
</div>