<h1>{{course.title}}
<button type="button" class="btn btn-default btn-sm" style="float: right;">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
</button>
</h1>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Basic information</h3>
  </div>
  <div class="panel-body">
    
      <p>Professors: {{professors}}</p>
    
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <a href="/review/course"><button type="button" class="btn btn-default btn-sm" style="float: right;">Write a review</button></a>
    <h3 class="panel-title">Reviews</h3>
  </div>
  <div class="panel-body">
    <ul>
    	<li>List course's reviews one by one</li>
    </ul>
  </div>
</div>