<h1>Prof name</h1>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Basic information</h3>
  </div>
  <div class="panel-body">
    <ul>
    	<li>List prof's info from professor.js model + course + globle note + global points</li>
    </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Reviews</h3>
  </div>
  <div class="panel-body">
  	<button type="button" class="btn btn-default btn-sm" class="pull-right">Write a review</button>
    <ul>
    	<li>List prof's reviews one by one</li>
    </ul>
  </div>
</div>